* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #1b0000;
    --text-color: #fff;
    --main-color: #f60b0b;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12% 4rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
    color: var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: center;
}

span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-image img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-image img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--text-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 50px var(--main-color);
    transform: scale(1.05);
}

.btn-groub {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-groub a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-groub a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: 'video editor';
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    background-color: var(--bg-color);
    animation: cursor 0.6s infinite,
        typing 20s steps(14) infinite;
}



@keyframes cursor {
    to {
        border-left: 3px solid var(--main-color);
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.about-img {
    border-radius: 50%;
}

.about-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.heding {
    text-align: center;
    font-size: 6rem;
    margin: 5rem 0;
}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

.about .heding {
    margin: 0;
}

.about-content .text-animation span::before {
    content: 'video editor';
    color: var(--main-color);
    animation: words 20s infinite;
}

.about-content .text-animation span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    background-color: var(--second-bg-color);
    animation: cursor 0.6s infinite,
        typing 20s steps(14) infinite;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

/* PLANS SECTION */
.plans {
  background: #1b0000;
  padding: 80px 10%;
  text-align: center;
  color: #fff;
}

.plans .heading {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.plans .heading span {
  color: #f60b0b;
}

.plans-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.plan-card {
  background: #2a0000;
  border: 2px solid #f60b0b;
  border-radius: 20px;
  width: 320px;
  padding: 40px 25px;
  text-align: left;
  position: relative;
  box-shadow: 0 0 15px rgba(246, 11, 11, 0.2);
  transition: 0.3s;
}

.plan-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(246, 11, 11, 0.5);
}

.plan-card .plan-name {
  color: #f60b0b;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.plan-card .plan-desc {
  font-size: 1.3rem;
  color: #ccc;
  margin-bottom: 15px;
}

.plan-card .plan-price {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 20px;
}

.plan-card .plan-features {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.plan-card .plan-features li {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #ddd;
}

.btn-plan {
  display: block;
  text-align: center;
  padding: 12px;
  background: #f60b0b;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}

.btn-plan:hover {
  background: #ff2c2c;
  box-shadow: 0 0 15px rgba(246, 11, 11, 0.5);
}

/* POPULAR PLAN */
.popular {
  border: 2px solid #fff;
  background: linear-gradient(180deg, #f60b0b 0%, #1b0000 100%);
  transform: scale(1.05);
}

.popular .plan-name {
  color: #fff;
}

.popular .plan-price {
  color: #fff;
}

.tag {
  position: absolute;
  top: -15px;
  right: 15px;
  background: #fff;
  color: #f60b0b;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 6px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* ===== MY BEST EDITS ===== */
.best-edits {
  text-align: center;
  padding: 80px 20px;
}

.best-edits h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: 1px;
  border-bottom: 2px solid #820000;
  display: inline-block;
  padding-bottom: 5px;
}

.videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.video-card {
  width: 300px;
  text-align: center;
}

.video-card video {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(105, 3, 3, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-card video:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(226, 43, 43, 0.9);
}

.video-card p {
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* TESTIMONIALS SECTION */
.testimonials {
  background: #1b0000;
  text-align: center;
  color: #fff;
}

.testimonials .heading {
  font-size: 4.5rem;
  margin-bottom: 50px;
}

.testimonials .heading span {
  color: #f60b0b;
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 145px;
}

.testimonial-box {
  position: relative;
  background: #2a0000;
  border: 2px solid #f60b0b;
  border-radius: 20px;
  width: 330px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(246, 11, 11, 0.15);
  transform: scale(1.1);
  transition: 0.3s ease;
}

.testimonial-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(246, 11, 11, 0.4);
}

.testimonial-content {
  flex: 1;
  text-align: left;
  padding-right: 10px;
}

.testimonial-content .stars {
  color: #f60b0b;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.testimonial-content p {
  color: #ddd;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.testimonial-content h4 {
  color: #f60b0b;
  font-weight: bold;
  font-size: 0.9rem;
}

.testimonial-avatar {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.testimonial-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #f60b0b;
}


.contact-section {
  background: linear-gradient(135deg, #000000, #111111);
  color: #fff;
  text-align: center;
padding: 27rem 12% 10rem;
  animation: fadeIn 1.2s ease-in-out;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.contact-subtitle {
  color: #aaa;
  font-size: 1.1rem;
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.contact-form {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s;
}

.contact-form:hover {
  transform: translateY(-5px);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #262626;
  color: #fff;
  font-size: 0.95rem;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #e00000;
}

.contact-info {
  text-align: left;
  max-width: 300px;
}

.contact-info h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.social-links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 12px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #ff0000;
}

.social-links i {
  margin-right: 10px;
  font-size: 1.2rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}




/* ========== FOOTER ========== */
footer {
  background-color: #0f0f10;
  border-top: 1px solid #1f1f22;
  padding: 60px 20px 30px;
}

footer .container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

footer h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

footer p {
  font-size: 14px;
  color: #aaa;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li a {
  color: #ccc;
  font-size: 14px;
}

footer ul li a:hover {
  color: #ff2323;
}

/* Social Icons */
.socials {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.socials a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(135deg, #f16363, #ea3333);
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
}

.socials a.instagram {
  background: linear-gradient(135deg, #fb9393, #f71634);
}

.socials a.whatsapp {
  background: linear-gradient(135deg, #ff1919, #8c1212);
}

.socials a.youtube {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
}

.socials a:hover {
  transform: scale(1.15);
  box-shadow: 0 0 15px rgba(255, 18, 18, 0.4);
}

/* Bottom line */
footer .bottom-line {
  border-top: 1px solid #6d0303;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 13px;
  color: #777;
}

/* ========== SCROLLBAR (optional) ========== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f10;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0d0d;

}


/* ===================== RESPONSIVE DESIGN ===================== */

/* للأجهزة المتوسطة مثل التابلت */
@media (max-width: 992px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 5%;
  }

  .home {
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }

  .home-content {
    align-items: center;
    text-align: center;
  }

  .home-image img {
    width: 55vw;
  }

  .about {
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }

  .about-img img {
    width: 50vw;
  }

  .services-content {
    grid-template-columns: 1fr 1fr;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  footer .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }
}

/* للأجهزة الصغيرة مثل الموبايل */
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    text-align: left;
    transition: 0.4s ease;
    padding: 2rem;
  }

  .navbar.active {
    right: 0;
  }

  .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }

  .home {
    flex-direction: column;
    gap: 4rem;
  }

  .home-image img {
    width: 70vw;
  }

  .about-img img {
    width: 65vw;
  }

  .services-content {
    grid-template-columns: 1fr;
  }

  .video-card {
    width: 90%;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    width: 90%;
  }

  .contact-info {
    max-width: 90%;
    text-align: center;
  }

  .social-icons a {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }

  footer .container {
    grid-template-columns: 1fr;
  }

  footer h2 {
    font-size: 2rem;
  }

  footer p,
  footer a {
    font-size: 1.4rem;
  }

  .bottom-line {
    font-size: 1.2rem;
  }
}

/* للشاشات الصغيرة جدًا (أقل من 480px) */
@media (max-width: 480px) {
  html {
    font-size: 45%;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content h3 {
    font-size: 2.8rem;
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .services-content .services-box {
    padding: 1rem 0;
  }

  .video-card {
    width: 100%;
  }

  .contact-title {
    font-size: 2rem;
  }

  .contact-subtitle {
    font-size: 1rem;
  }
}
/* ===== أساسي لعنصر الـ About ===== */
.about-section {
  background: var(--second-bg-color);
  color: var(--text-color);
  display: flex;
  overflow: hidden;
}

.about-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-left {
  flex: 1;
}

.about-title {
    font-size: 6.5rem;
    margin-bottom: 2rem;
    text-align: left;
}
.about-title span {
  color: var(--main-color);
}

.about-subtitle {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: var(--main-color);
}

.about-text {
  font-size: 1.7rem;
  line-height: 1.7;
  margin-bottom: 3rem;
  max-width: 600px;
}

.about-btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  background: var(--main-color);
  color: #000;
  border-radius: 4rem;
  font-size: 1.6rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

.about-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image-wrapper {
    overflow: hidden;
    width: 246px;
    height: 300px;
    transform: scale(1.5);
    box-shadow: 10px 10px 0px 1px red;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.about-image:hover {
  transform: scale(1.1);
}

/* ===== متجاوب للتابلت / شاشات متوسطة ===== */
@media (max-width: 992px) {
.about-section {
    background: var(--second-bg-color);
    color: var(--text-color);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about-title{
  text-align: center;
}
  .about-right {
display: none;
  }
}

/* ===== متجاوب للشاشات الصغيرة جداً ===== */
@media (max-width: 480px) {
  .about-title {
    font-size: 3.2rem;
  }
  .about-subtitle {
    font-size: 1.8rem;
  }
  .about-text {
    font-size: 1.4rem;
  }
  .about-btn {
    font-size: 1.4rem;
    padding: 0.9rem 2.2rem;
  }
  .about-image-wrapper {
    width: 70vw;
    height: 70vw;
    max-width: 260px;
    max-height: 260px;
  }
}
